# Core functionality - changes here should be rare!
/src/app.py                   @Coding-Cowboy
/src/backend/database.py      @Coding-Cowboy
/src/backend/routers/auth.py  @Coding-Cowboy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Coding-Cowboy
